
@{
    ViewBag.Title = "TerminationsThisYear";
}

<h2>Terminations</h2>

@{
    <section class="featured">
        <div class="content-wrapper">
            <p>There have been @ViewBag.TerminationCount terminations this year.</p>
        </div>
    </section>
}